.breadcrumbsmain {
  color: gray;
  font-size: 12px;
}

.breadcrumbscon {
  color: gray;
  width: 100%;
  padding: 80px;
  padding-top: 0;
}

.summarytax {
  width: 26%;
  height: 52%;
  position: absolute;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0;

  border-radius: 7px;
  box-shadow: 10px 10px 20px 10px gray;
  justify-content: center;
  text-align: center;
  align-items: center;
  left: 920px;
  bottom: 130px;
}

.summarytaxx {
  font-size: 15px;
}
