.breadcrumbsmain {
  color: gray;
  font-size: 12px;
}

.breadcrumbscon {
  color: gray;
  width: 100%;
  padding: 80px;
  padding-top: 0;
}

.summarytax {
  width: 30%;
  position: absolute;
  padding: 10px;
  padding-bottom: 0;
  padding-top: 0;
  border: 1px solid #b7b7b7;
  background-color: whitesmoke;
  border-radius: 7px;
  box-shadow: 10px 10px 20px 10px gray;
  justify-content: center;
  text-align: center;
  align-items: center;
  left: 870px;
  bottom: 105px;
}

.summarytaxx {
  font-size: 15px;
}
