.reduxhome_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.reduxhome_headtext {
  color: gray;
  position: relative;
  bottom: 700px;
  left: 100px;
  font-size: 25px;
}

.reduxhome_card {
  width: 250px;
  position: relative;
  bottom: 700px;
  left: 95px;
  padding: 10px;
  color: black;
  font-weight: 400;
}

.reduxhome_card:hover {
  transform: scale(1.1);
  transition: all 0.2s ease;
}

.reduxhome_image {
  color: black;
  font-weight: 400;
  width: 230px;
}

.reduxhome_title {
  color: gray;
  font-size: 14px;
  font-weight: bold;
}

.redux_plusicon {
  font-size: 1em;
  background-color: #d1203c;
  color: white;
  cursor: pointer;
  border: none;
  outline: none;
  border-radius: 5px;
}

.redux_button {
  position: relative;
  left: 100px;
}

.cardcontent {
  color: gray;
  font-size: 13px;
  font-weight: 400;
}
