.notecontainer {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 340px;
  margin: auto;
}

.chatlist {
  background-color: whitesmoke;
  display: flex;
  flex: 30;
  margin-bottom: 10px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 5px 10px;
  overflow-y: auto;
  width: 80%;
}

.notecartcontainer {
  position: relative;
  /* bottom: 1000px;
  left: 400px; */
  bottom: 20px;
  width: 100%;
  border: 1px solid #b7b7b7;
  box-shadow: 10px 10px 20px 10px gray;
  border-radius: 7px;
  padding: 20px;
}

.notecartcart {
  border: 1px solid #b7b7b7;

  border-radius: 7px;
}

.notecartcarth {
  font-size: 12px;
  padding: 20px;
}

.collectionitemavatar {
  width: 100%;
}
