.ce-my-message-bubble {
  background-color: #c6003d !important;
}

.ce-chat-title-text {
  color: #c6003d !important;
}

.ce-chat-subtitle-text {
  color: #c6003d !important;
  font-weight: 600;
}

#ce-send-message-button {
  position: relative !important;
  bottom: 2px !important;
  left: 1px !important;
  background-color: #c6003d !important;
}

.ce-my-message-timestamp {
  color: #c6003d !important;
}

.transition-3 {
  transition: all 0.33s ease;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
}

.transition-5 {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}
